.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 2rem;
}

.carouselTrack {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.carouselSlide {
  flex: 0 0 100%;
  min-width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}


.testimonialText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 6.5rem;
}
