:root {
  --scheme-brand-100: #1d0006;
  --scheme-brand-200: #330017;
  --scheme-brand-300: #652d40;
  --scheme-brand-400: #84485c;
  --scheme-brand-500: #a36578;
  --scheme-brand-600: #c78599;
  --scheme-brand-600-15: rgba(199,133,153,0.15);
  --scheme-brand-600-30: rgba(199,133,153,0.3);
  --scheme-brand-600-50: rgba(199,133,153,0.5);
  --scheme-brand-700: #e5a1b5;
  --scheme-brand-800: #ffc4d8;
  --scheme-brand-900: #ffd8ec;
  --scheme-brand-1000: #ffe8fd;
  --scheme-brand-1100: #ffe8fd;
  --scheme-brand-1200: #ffe8fd;

  --scheme-accent-100: #1d0006;
  --scheme-accent-200: #330017;
  --scheme-accent-300: #652d40;
  --scheme-accent-400: #84485c;
  --scheme-accent-500: #a36578;
  --scheme-accent-600: #c78599;
  --scheme-accent-600-15: rgba(199,133,153,0.15);
  --scheme-accent-600-30: rgba(199,133,153,0.3);
  --scheme-accent-600-50: rgba(199,133,153,0.5);
  --scheme-accent-700: #e5a1b5;
  --scheme-accent-800: #ffc4d8;
  --scheme-accent-900: #ffd8ec;
  --scheme-accent-1000: #ffe8fd;
  --scheme-accent-1100: #ffe8fd;
  --scheme-accent-1200: #ffe8fd;

  --scheme-neutral-100: #090909;
  --scheme-neutral-200: #161616;
  --scheme-neutral-300: #404040;
  --scheme-neutral-400: #5b5b5b;
  --scheme-neutral-500: #777777;
  --scheme-neutral-600: #959595;
  --scheme-neutral-600-15: rgba(149,149,149,0.15);
  --scheme-neutral-600-30: rgba(149,149,149,0.3);
  --scheme-neutral-600-50: rgba(149,149,149,0.5);
  --scheme-neutral-700: #b4b4b4;
  --scheme-neutral-800: #d4d4d4;
  --scheme-neutral-900: #e1e1e1;
  --scheme-neutral-1000: #eeeeee;
  --scheme-neutral-1100: #f5f5f5;
  --scheme-neutral-1200: #fcfcfc;
}