:global(body) {
  overflow-x: hidden;
  max-width: 100vw;
}

.mainContent {
  margin-left: 0;//300px;
  width: calc(100% - 0px);//300px);
  max-width: calc(100vw - 0px);//300px);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
  box-sizing: border-box;
  
  &.sidebarCollapsed {
    margin-left: 80px;
    width: calc(100% - 0px);//80px);
    max-width: calc(100vw - 0px);//80px);
  }
  /*
  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
    max-width: 100vw;
    
    &.sidebarCollapsed {
      margin-left: 0;
      width: 100%;
      max-width: 100vw;
    }
  }*/
}
